<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.dao.StockDAO">

    <!--根据秒杀商品id查询库存-->
    <select id="checkStock" parameterType="int" resultType="Stock">
        select id,name,count,sale,version from stock
        where id = #{id}
    </select>

    <!--根据商品id扣除库存-->
    <update id="updateSale" parameterType="Stock">
        update stock set
            sale=sale+1,
            version=version+1
         where
            id =#{id}
            and
            version = #{version}
    </update>

</mapper>